<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="50">
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="First Name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="user name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone Number" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Confirm Password" required>
            </mat-form-field>
            <button mat-raised-button type="submit" class="signup">Sign Up</button>
          </form>
    </mat-card>
</div>